<meta charset="UTF-8">
<meta name="description" content="A queueing system for UMSL's Art department.">
<meta name="keywords" content="UMSL, Art, Department, Queueing, System, Student, Print, Date, Time">
<meta name="author" content="UMSL's Computing Club's AQS Team">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<link rel="stylesheet" href="/css/styles.css">
