meta(charset='utf-8')
meta(name='description', content='A queueing system for UMSL\'s Art department.')
meta(name='keywords', content='UMSL, Art, Department, Queueing, System, Student, Print, Date, Time')
meta(name='author', content='UMSL\'s Computing Club AQS Team')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title #{title}
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css')
link(rel='stylesheet', href='/css/main.css')
