doctype html
html(lang='en', dir='ltr')
  include ../partials/head.pug
  block head
  body
    header
      include ../partials/header.pug
    
    main
      div(class='container')
        block content

    footer(class='page-footer font-small')
      include ../partials/footer.pug

    include ../partials/scripts.pug
    block scripts
