doctype html
html(lang='en', dir='ltr')
  include ../partials/head.pug
  block head
  body
    header
      include ../partials/header.pug

    main
      block content

    footer
      include ../partials/footer.pug

    include ../partials/scripts.pug
    block scripts
