extends layouts/main.pug

block head
    link(rel='stylesheet', href='/css/index.css')

block content
  each option in options
    li
      a(href=option.link) #{option.text}

block scripts
    script(src='/js/index.js')
