extends layouts/main.pug

block head
    link(rel='stylesheet', href='/css/index.css')

block content
  if selections
    each selection in selections
      li
        a(href=selection.href) #{selection.title}
        span #{selection.description}

block scripts
    script(src='/js/index.js')
