<form action="/login" method="post">
  <div>
    <span class="error">{{emailError}}</span>
    <input type="text" name="email" value="{{email}}" placeholder="Email" autofocus>
  </div>
  <div>
    <span class="error">{{passwordError}}</span>
    <input type="password" name="password" placeholder="Password">
  </div>
  <button type="submit">Login</button>
</form>
