extends layouts/main.pug

block head
  link(rel='stylesheet', href='/css/reservations.css')

block content
  div(id='calendar')

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js')
  script(src='/js/reservations.js')
