Type: {{type}}

<form action="/reserve/{{type}}" method="post">
  <div>
    <input type="date" name="date" placeholder="Date">
  </div>
  <div>
    <input type="time" name="time" placeholder="Time">
  </div>
  <div>
    <input type="file" name="files" accept="*" multiple>
  </div>
  <button type="submit">Reserve</button>
</form>
